{% extends "base.html" %}

{% block fonts %}
	<!-- Load fonts from Google -->
	{% if font != false %}
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family={{
			font.text | replace(' ', '+')  + ':300,400,400i,700|' +
			font.code | replace(' ', '+') + '|' +
			font.header | replace(' ', '+')
		}}" />
	<style>
		body, input {
			font-family: "TisaPro", "{{ font.text }}", "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family: "Berlingske Serif Bold", "{{ font.header }}", Georgia, Palatino, Garamond, serif;
		}
		pre, code, kbd {
			font-family: "{{ font.code }}", "Hasklig", "Fira Code", "Monaco", "Menlo", "Consolas", "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
		}
	</style>
	{% endif %}
{% endblock %}
